<!-- _includes/project-card.html -->
<div class="project-card">
    <img src="{{ include.img_src }}" alt="{{ include.img_alt }}">
    <div class="card-content">
      <p class="category">{{ include.category }}</p>
      <div class="title-content">
        <h3>{{ include.title }}</h3>
      </div>
      <p>{{ include.description }}</p>
      <div class="project-links">
        <a href="{{ include.github_link }}" class="icon-link github-icon">
            <i class="fa-brands fa-github"></i>
        </a>
        <a href="{{ include.paper_link }}" class="icon-link paper-icon">
            <i class="fa-solid fa-file"></i>
        </a>
      </div>
    </div>
  </div>
  